.mt1
{
   background-color: black;
   color: floralwhite;
   font-family: segoe script;
}
b
{
	font-size: 21px;
	margin-left: 15px;
}
.mt2
{
   background-color: black;
   color: floralwhite;
   font-family: segoe script;
}
p
{
	margin-left: 10px;
}